<div class="col-sm-4">
  <div class="well">
    <%= form_for Ramble.new, remote: true do |f| %>
      <%= f.label :content  %>
      <%= f.text_area :content, rows: 10, id: "form-content" %>
      <%= f.submit "Rbl" %>
    <% end %>
  </div>
</div>

<div class="col-sm-8" id="all-rambles">
  <%= render @rambles %>
</div>
